/* @import url('https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */


/* * {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
} */

/* header */

/* body {
    background: black;
}

.head-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 93px;
    background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}


.logo-link {
    display: flex;
    align-items: center;
    gap: 51px;
    padding-right: 127px;
    position: relative;
}

.bluepoint {
    position: absolute;
    left: 280px;
    top: 32px;
}


.logo-link a {
    color: #A1B1CB;
    font-weight: 700;
    font-size: 16px;
}

.logo-link h2 {
    font-weight: 400;
    font-size: 36px;
    color: #FFC907;
    padding-left: 28px;
    font-family: "Griffy", system-ui;
}


.search-box {
    position: relative;
}

.search-box input {
    width: 324px;
    height: 37px;
    border-radius: 18.5px;
    border: none;
    padding: 19px;
    background-color: #3B567D;
    font-weight: 700;
    font-size: 16px;
    color: #A2B3CD;
}

input::placeholder {
    color: #A2B3CD;
}

.search-box img {
    position: absolute;
    right: 13px;
    top: 8px;
    cursor: pointer;
}

.profile>img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 3px solid white;
}

.profile {
    position: relative;
    padding-right: 32px;
}

.greenpoint {
    position: absolute;
    right: 34px;
    bottom: 1px;
} */



/* movies-no-playing */

.container h1 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 21px;
    padding-top: 26px;
}

.movies-no-playing {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    font-weight: 700;
    padding-bottom: 125px;
}

.movie-top {
    width: 168px;
    /* height: 302px; */
    cursor: pointer;
}

.movie-top>img {
    width: 100%;
    border-radius: 7px;
}

.movie-bottom h3 {
    color: white;
    font-size: 16px;
    width: 167px;
    white-space: nowrap;
    /*скрывать текст это я добавила чтоб не забыть*/
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}

.imdb span {
    color: #FFC907;
    font-size: 11px;
}

.movie-bottom p {
    color: #AFAFAF;
    font-size: 11px;
    padding-top: 4px;
}

.imdb {
    display: flex;
    gap: 5px;
    padding-top: 5px;
}


/* recommended */

section.recommended .buttons {
    display: flex;
    gap: 23px;
}

section.recommended .buttons button {
    background-color: #5C5C5C;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

div.buttons button.active {
    background-color: #E43109;
}

/* recommended-movies */

.recommended-movies {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    font-weight: 700;
    padding-bottom: 125px;
}

.buttons{
    padding-bottom: 22px;
}

.recommended h2 {
    padding-bottom: 19px;
    font-weight: 700;
    font-size: 18px;
}