* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container.info {
    margin-top: 10px;
}

.info {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 20px;
    color: white;
}


.backdrop {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1; 
    background-size: cover; 
    background-position: center; 
    filter: brightness(0.5); 
    border-radius: 10px;
}

.all-info {
    display: flex;
    z-index: 1;
    gap: 25px;
}

.poster {
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

.tagline {
    color: rgba(255, 255, 255, 0.67);
}

.view {
    padding-top: 40px;
}

.view p {
    padding-top: 10px;
}

#title {
    font-size: 36px;
    padding-top: 10px;

}

.rec-title {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 20px;
}

.vote_average {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(66, 145, 50);
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.release_date {
    padding-right: 6px;
}

.vote_average {
    margin-right: 10px;
}

.raiting {
    display: flex;
    gap: 5px;
    align-items: center;
}

.view h4 {
    padding-top: 20px;
}

.trailer img {
    width: 15px;
    height: 15px;
}

.trailer {
    display: flex;
    gap: 10px;
    padding-top: 15px;
}

.trailer div {
    background: linear-gradient(10.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.play-btn {
    padding-left: 20px;
    display: flex;
    font-weight: 600;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

